# Python bytecode
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
.env
.envrc
.venv
venv/
env/
ENV/

# Data
data/

# Notebooks
.ipynb_checkpoints
#notebooks/*.png
notebooks/anomaly_detection_eval.ipynb
notebooks/sample_viz.py

# Logs
*.log

# Azure
local.settings.json

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
coverage.xml
tests/test_detector.py
tests/test_trainer.py

# Distribution / packaging
*.egg-info/
dist/
build/

# Type checkers
.mypy_cache/
.ruff_cache/


