# Python bytecode
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
.env
.envrc
.venv
venv/
env/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
coverage.xml

# Type checkers
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints
#notebooks/*.png

# Logs
*.log

# Azure
local.settings.json

